[submodule "Surface/vendor/spdlog"]
	path = Surface/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Surface/vendor/GLFW"]
	path = Surface/vendor/GLFW
	url = https://github.com/glfw/glfw
